@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  background-color: #ffffff;
  margin: 0; }

img {
  width: 100%;
  height: auto; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  box-sizing: border-box; }

/*.clearfix() {  //для LESS
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.container() {
  width: 94%;
  margin: 0 auto;
  
  @media $tablet-widths {
    width: 640px;
  }
  @media $desktop-widths {
    width: 960px;
  }
}
.container-fluid() { 
  width: auto;
  @media @tablet-widths {
    width: 94%;
    max-width: 960px;
    margin: 0 auto;
  }
}*/
/*SASS*/
/*Пример брэйкпоинта  //показывает увеличение внутренних отступов и размера шрифта, когда вьюпорт становится больше 1024px
.site-header {
  padding: 2rem;
  font-size: 1.8rem;
  @include mq('tablet-wide') {
   padding-top: 4rem;
   font-size: 2.4rem;
  }
}*/
.header__nav {
  position: relative;
  width: auto; }

.header__nav-items {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .header__nav-items a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #81b3d2;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db; }
  .header__nav-items a:hover {
    background-color: #669ec0; }
  .header__nav-items a:active {
    background-color: #5496bd;
    color: #94b9d2; }
  .header__nav-items .header__nav-controller {
    position: relative;
    font-size: 0;
    background-color: white;
    border: none; }

.header__nav-controller::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;
  width: 36px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }

.header__nav--active {
  position: relative; }
  .header__nav--active::after {
    position: absolute;
    content: "";
    right: 17px;
    top: 25px;
    width: 28px;
    height: 4px;
    background-color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__nav--active::before {
    position: absolute;
    content: "";
    right: 17px;
    top: 25px;
    width: 28px;
    height: 4px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.header__logo {
  position: absolute;
  height: 83px;
  width: 102px;
  right: 50%;
  top: 248px;
  margin-right: -51px; }

.header__logo-2 {
  width: 100%;
  height: 389px;
  background-image: url(../img/LOGO-MAIN.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.header__logo-2 img {
  width: 282px;
  height: 300px;
  padding-top: 90px; }

.header__title {
  padding-top: 42px;
  width: 100%;
  text-align: center; }

.header__title-bold {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 32px; }

.header__title-regular {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  padding-left: 23px;
  padding-right: 23px; }

.feature__item-1 {
  width: 100%;
  background-image: url(../img/MAUBE%20NOW.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.feature__item-1-description, .feature__item-description {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 58px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  color: white;
  text-transform: uppercase; }

.fearute__item-1-number, .fearute__item-number, .feature__item-3-5 span {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 22px;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  color: white; }
  .fearute__item-1-number::after, .fearute__item-number::after, .feature__item-3-5 span::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 12px;
    margin-left: -26px;
    width: 9px;
    height: 2px;
    background-color: white; }
  .fearute__item-1-number::before, .fearute__item-number::before, .feature__item-3-5 span::before {
    content: "";
    position: absolute;
    bottom: 10px;
    right: -14px;
    margin-left: -26px;
    width: 9px;
    height: 2px;
    background-color: white; }

.feature__item-1-text, .feature__item-text, .feature__item-3-5 p {
  font-size: 14px;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px; }

.feature__item-container {
  width: 100%;
  min-height: 230px;
  background-color: #81b3d2;
  background-image: url(../img/MAUBE%20NOW.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px; }

.feature__item-1-img {
  width: 100%;
  height: 260px;
  background-image: url(../img/photo-city@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.features__gifts {
  background-color: white;
  padding-bottom: 0;
  padding-top: 37px; }
  .features__gifts-title {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    padding-bottom: 22px; }
  .features__gifts-text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333; }

.feature__gift {
  position: relative;
  padding-left: 70px;
  padding-right: 10px;
  margin-bottom: 32px; }

.features__house::after {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  left: 20px;
  top: -10px;
  background-image: url("../img/icon-house.png");
  background-repeat: no-repeat; }

.features__box::after {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  left: 20px;
  top: -10px;
  background-image: url("../img/icon-gift.png");
  background-repeat: no-repeat; }

.features__food:after {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  left: 20px;
  top: -10px;
  background-image: url("../img/icon-burger.png");
  background-repeat: no-repeat; }

.feature__item-2 {
  width: 100%; }

.feature__item-container-2 {
  background-color: #81b3d2;
  color: white;
  padding-top: 22px;
  padding-bottom: 26px;
  text-align: center; }

.feature__item-description {
  padding: 0;
  padding-bottom: 18px; }

.fearute__item-number {
  margin-bottom: 20px; }

.feature__item-2-img {
  width: 100%;
  height: 260px;
  background-image: url(../img/photo-bridge@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.features-items-3-5 {
  background-color: #eeeeee; }

.feature__item-3-5 {
  position: relative;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 20px;
  text-align: center; }
  .feature__item-3-5 b {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 18px; }
  .feature__item-3-5 span {
    color: #333333;
    background-color: #eeeeee; }
  .feature__item-3-5 span::after {
    content: "";
    background-color: #333333; }
  .feature__item-3-5 span::before {
    content: "";
    background-color: #333333; }
  .feature__item-3-5 p {
    color: #333333;
    padding-top: 14px; }

.feature__item-3-5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  height: 1px;
  background-color: #d6d6d6; }

.feature__item-3-5:nth-child(3):after {
  display: none; }

.hotel-search {
  width: 100%;
  background: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 48px; }
  .hotel-search__question {
    display: block;
    font-size: 21px;
    color: black;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 22px; }
  .hotel-search__text {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px; }
  .hotel-search__btn {
    display: block;
    width: 90%;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #81b3d2;
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 26px; }
    .hotel-search__btn:hover {
      background-color: #669ec0; }
    .hotel-search__btn:active {
      background-color: #5496bd;
      color: #94b9d2; }
  .hotel-search br {
    display: none; }

.map {
  width: 100%; }

.page-footer {
  width: 100%;
  padding-top: 37px;
  padding-bottom: 30px;
  text-align: center; }
  .page-footer__visit {
    display: block;
    padding-bottom: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: bold;
    line-height: 26px; }
  .page-footer__social {
    width: 157px;
    font-size: 0;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 44px; }

.cocial-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2; }
  .cocial-link:hover {
    background-color: #669ec0; }
  .cocial-link:active:after {
    background-color: #5496bd;
    opacity: 0.3; }

.social-link-tw::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 14px;
  background-image: url(../img/icon-twitter.png);
  background-repeat: no-repeat; }

.social-link-f::after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -5px;
  width: 9px;
  height: 18px;
  background-image: url(../img/icon-facebook.png);
  background-repeat: no-repeat; }

.social-link-YT::after {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 14px;
  background-image: url(../img/icon-youtube.png);
  background-repeat: no-repeat; }

.page-footer__copyright {
  width: 44%;
  margin: 0 auto; }
  .page-footer__copyright a {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    padding-right: 44px; }
  .page-footer__copyright a::after {
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    top: -5px;
    width: 27px;
    height: 34px;
    background-image: url(../img/LOGO-HTML.png);
    background-repeat: no-repeat; }
  .page-footer__copyright a:active::after {
    opacity: 0.3; }
  .page-footer__copyright a:hover:after {
    background-image: url(../img/LOGO-HTML-BLUE.png);
    background-repeat: no-repeat; }

.header-form {
  position: relative; }

.header-form__nav {
  z-index: 100;
  padding-bottom: 160px; }

.header-form__logo-2 {
  position: absolute;
  z-index: 1;
  top: 80px;
  background-position: center; }
  .header-form__logo-2 svg {
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -115px; }

.header-form__title {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }

.form-container {
  width: 87.5%;
  margin: 0 auto; }

.user-form {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5; }

.form__title, .impression-form__title {
  display: block;
  padding-left: 20px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 28px; }

.user-form__name {
  display: block;
  margin: 0;
  padding-bottom: 20px; }
  .user-form__name-title {
    font-size: 14px;
    color: #333333;
    font-weight: 200;
    line-height: 26px;
    text-transform: uppercase;
    padding-right: 19px; }
  .user-form__name .surname-input, .user-form__name .middle-name-input {
    padding-left: 20px;
    outline: none;
    padding-top: 18px;
    border: none;
    padding-bottom: 14px;
    background-color: #f2f2f2;
    width: 191px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 26px; }
    .user-form__name .surname-input::-webkit-input-placeholder, .user-form__name .middle-name-input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: black; }
    .user-form__name .surname-input:-moz-placeholder, .user-form__name .middle-name-input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: black; }
    .user-form__name .surname-input::-moz-placeholder, .user-form__name .middle-name-input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: black; }
    .user-form__name .surname-input:-ms-input-placeholder, .user-form__name .middle-name-input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: black; }
  .user-form__name .name-input {
    padding-left: 20px;
    outline: none;
    padding-top: 18px;
    border: none;
    padding-bottom: 14px;
    background-color: #f2f2f2;
    width: 227px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 26px; }
    .user-form__name .name-input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: black; }
    .user-form__name .name-input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: black; }
    .user-form__name .name-input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: black; }
    .user-form__name .name-input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: black; }

.contacts-form {
  padding-top: 21px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5; }

.contacts-form__name-title {
  display: block;
  margin: 0;
  font-size: 14px;
  color: #333333;
  font-weight: 200;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 20px; }

.contacts-form__mail, .contacts-form__phone {
  position: relative;
  display: block;
  padding-left: 20px;
  padding-right: 58px;
  outline: none;
  padding-top: 18px;
  border: none;
  padding-bottom: 14px;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-height: 26px; }
  .contacts-form__mail::-webkit-input-placeholder, .contacts-form__phone::-webkit-input-placeholder {
    /* WebKit browsers */
    color: black; }
  .contacts-form__mail:-moz-placeholder, .contacts-form__phone:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black; }
  .contacts-form__mail::-moz-placeholder, .contacts-form__phone::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black; }
  .contacts-form__mail:-ms-input-placeholder, .contacts-form__phone:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: black; }

.contacts-form__phone-label {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 47px; }
  .contacts-form__phone-label::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center; }

.contacts-form__mail-label {
  display: block;
  margin: 0;
  position: relative; }
  .contacts-form__mail-label::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-position: center; }

.form-title__alarm {
  position: absolute;
  display: block;
  margin: 0;
  color: #ff5c5c;
  padding-top: 8px;
  bottom: -20px;
  left: 20px; }

.form-mail__alarm--hidden {
  display: none; }

.impression-form {
  padding-top: 20px;
  padding-bottom: 0; }
  .impression-form__radio {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding-left: 79px;
    padding-bottom: 42px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 26px; }
    .impression-form__radio::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: #e6e6e6;
      z-index: 1; }
  .impression-form input[type="radio"] {
    display: none; }

.radio-indicator {
  position: absolute;
  display: none;
  left: 17px;
  bottom: 37px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #333333;
  z-index: 2; }

.impression-form input[type="radio"]:checked + .radio-indicator {
  display: block; }

.secondary-form__interest {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 44px; }

.secondary-form__title {
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 34px; }

.secondary-form__check {
  position: relative;
  display: block;
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-height: 26px;
  padding-left: 70px;
  margin-bottom: 60px; }
  .secondary-form__check input[type="checkbox"] {
    display: none; }
  .secondary-form__check::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background-color: #f2f2f2;
    z-index: 1; }
  .secondary-form__check:last-child {
    margin-bottom: 0; }

.check-indicator {
  position: absolute;
  display: none;
  left: 18px;
  bottom: 5px;
  width: 24px;
  height: 16px;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2; }

.secondary-form__check input[type="checkbox"]:checked + .check-indicator {
  display: block; }

.secondary-form__emotions {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 48px; }
  .secondary-form__emotions textarea {
    width: 100%;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 50px;
    resize: none; }
    .secondary-form__emotions textarea::-webkit-input-placeholder {
      /* WebKit browsers */
      color: black; }
    .secondary-form__emotions textarea:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: black; }
    .secondary-form__emotions textarea::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: black; }
    .secondary-form__emotions textarea:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: black; }

.secondary-form__title {
  padding-bottom: 21px; }

.secondary-form-btn {
  border: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  cursor: pointer;
  font-size: 21px;
  color: white;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase; }

.secondary-form--hidden {
  display: none; }

.page-footer__copyright--dec {
  font-size: 0; }

@media screen and (min-width: 768px) {
  .header__logo-2 {
    height: 518px;
    background-image: url(../img/TABLET-LOGO.jpg); }
  .header__logo-2 img {
    width: 460px;
    height: 430px;
    padding-top: 77px; }
  .header__nav-items {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .header__nav-items a {
      background-color: white;
      color: black;
      border: none;
      font-size: 14px;
      line-height: 26px; }
    .header__nav-items a:nth-child(2) {
      margin-right: 150px; }
    .header__nav-items a:nth-child(1) {
      padding-left: 48px;
      padding-right: 40px; }
    .header__nav-items a:nth-child(4) {
      padding-right: 28px;
      padding-left: 50px; }
    .header__nav-items a:hover {
      color: #81b3d2;
      background-color: white; }
    .header__nav-items a:active {
      color: #766357; }
  .header__logo {
    top: -8px; }
  .header__nav-items .header__nav--active:before {
    display: none; }
  .header__nav-items .header__nav--active::after {
    display: none; }
  .header__nav-items .header__nav-controller {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .header__title-bold {
    padding-left: 165px;
    padding-right: 165px; }
  .header__title {
    padding-bottom: 54px; }
  .feature__item-1 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: nowrap; }
  .feature__item-1-img {
    width: 67%;
    height: 256px;
    background-image: url(../img/photo-city@2x.jpg); }
  .feature__item-container {
    padding-top: 0;
    background-image: none;
    width: 33%; }
  .feature__item-1-description, .feature__item-description {
    font-size: 21px;
    line-height: 26px;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 40px; }
  .features__gifts {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 52px; }
  .feature__gift {
    width: 33%;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px; }
  .feature__gift:nth-child(1) {
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .feature__gift:nth-child(2) {
    -webkit-box-ordinal-group: 4;
            order: 3; }
  .feature__gift:nth-child(3) {
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .features__food:after {
    width: 77px;
    height: 68px;
    left: 50%;
    margin-left: -36px;
    top: -5px;
    background-image: url(../img/icon-burger2.png); }
  .features__box::after {
    width: 64px;
    height: 75px;
    left: 50%;
    margin-left: -32px;
    top: -5px;
    background-image: url(../img/icon-gift2.png); }
  .features__house::after {
    width: 75px;
    height: 72px;
    left: 50%;
    margin-left: -37px;
    top: -5px;
    background-image: url(../img/Image-house-2.png); }
  .feature__item-2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse; }
  .feature__item-container-2 {
    width: 33%; }
  .feature__item-2-img {
    width: 67%;
    height: 275px;
    background-image: url(../img/photo-bridge@2x.jpg); }
  .feature__item-description {
    padding: 0 20px;
    padding-top: 22px;
    padding-bottom: 18px; }
  .feature__item-text {
    padding-left: 35px;
    padding-right: 35px; }
  .features-items-3-5 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .feature__item-3-5 {
    width: 33.3%; }
    .feature__item-3-5 b {
      padding-left: 69px;
      padding-right: 69px; }
    .feature__item-3-5 p {
      padding-left: 20px;
      padding-right: 20px; }
  .feature__item-3-5::after {
    display: none; }
  .hotel-search {
    padding-top: 58px;
    padding-bottom: 58px; }
    .hotel-search br {
      display: block; }
    .hotel-search__btn {
      width: 60%; }
  .hotel-search__question {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 35px; }
  .hotel-search__text {
    padding-right: 150px;
    padding-left: 150px; }
  .page-footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px; }
    .page-footer__social {
      width: 157px;
      padding: 0;
      margin: 0; }
    .page-footer__copyright {
      width: auto;
      margin: 0;
      padding-top: 10px;
      padding-right: 60px; }
    .page-footer__visit {
      padding-top: 10px;
      padding-left: 60px;
      padding-bottom: 0; }
  .header-form__nav {
    background: white;
    padding-bottom: 0; }
  .header-form__logo-2 {
    top: -250px; }
    .header-form__logo-2 svg {
      width: 400px;
      height: 70px;
      margin-left: -200px;
      bottom: 90px; }
  .header-form__logo {
    top: 0; }
  .header-form__title {
    padding-top: 260px;
    border-bottom: none; }
    .header-form__title-bold {
      font-size: 30px;
      padding: 35px 130px;
      padding-top: 0; }
    .header-form__title-regular {
      padding-right: 162px;
      padding-left: 162px; }
  .form__title, .impression-form__title {
    font-size: 21px; }
  .main-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap; }
  .impression-form {
    -webkit-box-ordinal-group: 2;
            order: 1;
    width: 50%; }
    .impression-form__title {
      padding-bottom: 45px; }
    .impression-form__radio {
      padding-bottom: 50px; }
      .impression-form__radio::after {
        bottom: 35px; }
  .user-form {
    -webkit-box-ordinal-group: 3;
            order: 2;
    width: 50%;
    border-bottom: none; }
    .user-form .surname-input, .user-form .user-form__name .middle-name-input, .user-form__name .user-form .middle-name-input {
      width: 200px; }
    .user-form .name-input {
      width: 235px; }
    .user-form .user-form__name {
      padding-left: 40px; }
  .contacts-form {
    -webkit-box-ordinal-group: 4;
            order: 3;
    width: 100%;
    border-bottom: none; }
    .contacts-form .form__title, .contacts-form .impression-form__title {
      position: relative;
      display: block;
      padding-left: 194px; }
      .contacts-form .form__title::after, .contacts-form .impression-form__title::after {
        content: "";
        display: block;
        position: absolute;
        width: 135px;
        height: 1px;
        left: 0;
        top: 10px;
        background-color: #dbdbdb; }
      .contacts-form .form__title::before, .contacts-form .impression-form__title::before {
        content: "";
        display: block;
        position: absolute;
        width: 135px;
        height: 1px;
        right: 0;
        top: 10px;
        background-color: #dbdbdb; }
    .contacts-form .form-title__alarm {
      bottom: 60px;
      left: 480px; }
  .radio-indicator {
    bottom: 51px; }
  .secondary-form__interest {
    border-top: none; }
  .secondary-form-container {
    width: 71%;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-top: 50px; }
  .secondary-form__title {
    position: relative;
    padding-left: 190px;
    padding-right: 190px;
    font-size: 21px; }
    .secondary-form__title::after {
      content: "";
      display: block;
      position: absolute;
      width: 135px;
      height: 1px;
      left: 0;
      top: 20px;
      background-color: #dbdbdb; }
    .secondary-form__title::before {
      content: "";
      display: block;
      position: absolute;
      width: 135px;
      height: 1px;
      right: 0;
      top: 20px;
      background-color: #dbdbdb; }
  .secondary-form__check:last-child {
    margin-bottom: 60px; }
  .secondary-form__check:nth-child(2) {
    margin-right: 12px; }
  .secondary-form__emotions {
    border-top: none;
    position: relative;
    padding-bottom: 114px; }
    .secondary-form__emotions textarea {
      padding-top: 20px; }
  .secondary-form__title--pseudo::after {
    top: 10px; }
  .secondary-form__title--pseudo::before {
    top: 10px; }
  .secondary-form-btn {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 50%; }
  .secondary-form--hidden {
    display: block; }
  .secondary-form__important {
    position: absolute;
    right: 0;
    bottom: 100px;
    font-size: 14px;
    color: #333333;
    font-weight: 200;
    line-height: 21px;
    text-transform: uppercase; } }

@media screen and (min-width: 1280px) {
  .container {
    background-color: #f2f2f2;
    width: 94%;
    margin: 0 auto; }
  .header__nav-items {
    font-size: 18px;
    line-height: 40px;
    background: white; }
    .header__nav-items a:nth-child(1) {
      padding-left: 128px; }
    .header__nav-items a:nth-child(4) {
      padding-right: 111px; }
  .header__logo-2 {
    height: 518px;
    background-image: url(../img/DESKTOP-LOGO.jpg); }
  .header__title-bold {
    padding-left: 380px;
    padding-right: 380px; }
  .header__title {
    background-color: white; }
  .feature__item-1-description, .feature__item-description {
    padding-left: 138px;
    padding-right: 138px; }
  .feature__item-1-text, .feature__item-text, .feature__item-3-5 p {
    padding-top: 14px;
    padding-left: 55px;
    padding-right: 55px; }
  .feature__item-1-img {
    background-image: url(../img/photo-city@3x.jpg); }
  .feature__gift {
    padding-left: 70px;
    padding-right: 70px; }
  .feature__item-2-img {
    background-image: url(../img/photo-bridge@3x.jpg); }
  .feature__item-description {
    padding-left: 90px;
    padding-right: 90px; }
  .feature__item-text {
    padding-top: 14px;
    padding-left: 100px;
    padding-right: 100px; }
  .feature__item-3-5 b {
    padding-left: 138px;
    padding-right: 138px; }
  .feature__item-3-5 p {
    padding-left: 90px;
    padding-right: 90px; }
  .hotel-search {
    padding-bottom: 65px; }
  .hotel-search__btn {
    width: 36%; }
  .page-footer__social {
    width: 157px;
    padding: 0;
    margin: 0; }
  .page-footer__copyright {
    padding-right: 85px; }
  .page-footer__visit {
    padding-left: 150px; }
  .header-form__logo-2 {
    top: -190px;
    height: 555px; }
    .header-form__logo-2 svg {
      bottom: 140px; }
  .header-form__title {
    padding-top: 380px; }
  .header-form__title-regular {
    padding-right: 420px;
    padding-left: 420px; }
  .contacts-form .form__title, .contacts-form .impression-form__title {
    padding-left: 339px;
    padding-bottom: 80px; }
    .contacts-form .form__title::after, .contacts-form .impression-form__title::after {
      width: 280px; }
    .contacts-form .form__title::before, .contacts-form .impression-form__title::before {
      width: 280px; }
  .contacts-form .form-title__alarm {
    left: 100px;
    bottom: 60px; }
  .form-container {
    width: 75%; }
  .impression-form .form__title, .impression-form .impression-form__title {
    padding-left: 80px; }
  .user-form .form__title, .user-form .impression-form__title {
    padding-left: 40px; }
  .user-form .user-form__name {
    padding-left: 40px; }
  .user-form .surname-input, .user-form .user-form__name .middle-name-input, .user-form__name .user-form .middle-name-input {
    width: 351px; }
  .user-form .name-input {
    width: 386px; }
  .contacts-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .contacts-form__phone-label {
    display: block;
    width: 400px;
    padding-left: 80px; }
  .contacts-form__phone {
    width: 320px; }
  .contacts-form__mail, .contacts-form__phone {
    width: 300px; }
  .contacts-form__mail-label {
    display: block;
    width: 480px;
    padding-left: 140px; }
    .contacts-form__mail-label::after {
      bottom: 46px; }
  .hidden-phone {
    display: none; }
  .contacts-form__name-title {
    display: block;
    position: absolute;
    left: -20px;
    bottom: 15px;
    font-size: 14px; }
  .contacts-form__name-title {
    display: block;
    position: absolute;
    font-size: 14px; }
  .contacts-form__mail-name {
    bottom: 60px;
    left: -36px; }
  .secondary-form-container {
    width: 100%;
    flex-wrap: nowrap; }
  .secondary-form__title {
    position: relative;
    padding-left: 340px;
    padding-right: 340px;
    font-size: 21px; }
    .secondary-form__title::after {
      width: 235px;
      left: 0;
      top: 20px; }
    .secondary-form__title::before {
      content: "";
      display: block;
      position: absolute;
      width: 235px;
      height: 1px;
      right: 0;
      top: 20px;
      background-color: #dbdbdb; }
  .secondary-form__title--pseudo::after {
    top: 10px; }
  .secondary-form__title--pseudo::before {
    top: 10px; } }
